@charset "UTF-8";
body {
  background: #63bc32;
}

/*Параметры обнуления*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: mome;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.telo .rot .rot_vl5, .telo .rot .rot_vl4, .telo .rot .rot_vl3, .telo .rot .rot_vl2, .telo .rot .rot_vl1 {
  border-right: 1px solid black;
  margin-left: 36px;
  height: 48px;
  position: relative;
  display: inline-block;
}

.zrachok {
  width: 12px;
  height: 12px;
  background: #000000;
  position: relative;
  left: 24px;
  top: 24px;
  border-radius: 50% 50% 50% 50%;
}

.telo {
  width: 300px;
  height: 300px;
  background: #cdd5d0;
  border: 1px solid black;
  position: absolute;
  left: 199px;
  top: 99px;
}
.telo .right_glas, .telo .left_glas {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  background: #ffffff;
  position: relative;
  left: 100px;
  top: 100px;
  border-radius: 50% 50% 50% 50%;
}
.telo .left_glas {
  left: 200px;
  top: 50px;
}
.telo .rot {
  width: 198px;
  height: 50px;
  background: #ffffff;
  border: 1px solid black;
  position: relative;
  left: 50px;
  top: 100px;
}
.telo .rot .rot_vl2 {
  margin-left: 45px;
}
.telo .rot .rot_vl3 {
  margin-left: 20px;
}
.telo .rot .rot_vl4 {
  margin-left: 32px;
}
.telo .rot .rot_vl5 {
  margin-left: 20px;
}