body {
	background: #63bc32;
}
@import "nullmain","variables","templates","mixin";
.zrachok{
	width: 12px;
	height: 12px;
	background: #000000;
	position: relative;
	left: 24px;
	top: 24px;
}
.telo{
	@include telo (300px,300px,#cdd5d0,$bor_1,absolute,199px,99px);
	.right_glas{
		width: $w;
		height: $h;
		border: 1px solid black;
		background: #ffffff;
		position: relative;
		left: 100px;
		top: 100px;
	}
	.left_glas{
		@extend .right_glas;
		left: 200px;
		top: 50px;
	}
	.rot{
		@include telo (198px,$h,#ffffff,$bor_1,relative,50px,100px);
		.rot_vl1{
			@extend %tpl_vl1;
		}
		.rot_vl2{
			@extend %tpl_vl1;
			margin-left: 45px;
		}
		.rot_vl3{
			@extend %tpl_vl1;
			margin-left: 20px;
		}
		.rot_vl4{
			@extend %tpl_vl1;
			margin-left: 32px;
		}
		.rot_vl5{
			@extend %tpl_vl1;
			margin-left: 20px;
		}
	}
}